 <!-- footer area start -->
   <footer class="tp-footer-3-area p-relative pt-120">
      <div class="tp-footer-bg"></div>
      <div class="tp-footer-box p-relative">
         <div class="tp-footer-shape">
            <img class="shape-1" src="assets/img/footer/footer-shape-1.png" alt="">
            <img class="shape-2" src="assets/img/footer/footer-shape-2.png" alt="">
         </div>
         <div class="container">
            <div class="tp-footer-main tp-footer-border">
               <div class="row">
                  <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                     <div class="tp-footer-widget tp-footer-col-1 mb-50">
                        <div class="tp-footer-logo mb-40">
                           <a href="index.html">    <img src="assets/img/logo/logo-white.png" alt=""></a>
                        </div>
                        <div class="tp-footer-widget-content">
                           <p>BMP Company S.A.S. <br> Sociedad por Acciones Simplificada <br> Colombia</p>
                           <div class="tp-footer-widget-social">
                              <a href="index.html#"><i class="fab fa-facebook-f"></i></a>
                              <a href="index.html#"><i class="fa-brands fa-instagram"></i></a>
                              <a href="index.html#"><i class="fa-brands fa-pinterest-p"></i></a>
                              <a href="index.html#"><i class="fab fa-twitter"></i></a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                     <div class="tp-footer-widget tp-footer-col-2 mb-50">
                        <h3 class="tp-footer-widget-title">Navegación</h3>
                        <div class="tp-footer-widget-content">
                           <ul>
                              <li><a routerLink="/">Inicio</a></li>
                              <li><a routerLink="/about">Nosotros</a></li>
                              <li><a routerLink="/services">Servicios</a></li>
                              <li><a routerLink="/blog">Blog</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                     <div class="tp-footer-widget tp-footer-col-3 mb-50">
                        <h3 class="tp-footer-widget-title">Servicios</h3>
                        <div class="tp-footer-widget-content">
                           <ul>
                              <li><a href="index.html#">Seguridad Electrónica</a></li>
                              
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                     <div class="tp-footer-widget tp-footer-col-4 mb-50">
                        <div class="tp-footer-widget-content">
                           <div class="tp-footer-widget-contact">
                              <h3 class="tp-footer-widget-title">Boletín</h3>
                              <p>Recibe actualizaciones y ofertas.</p>
                              <div class="tp-footer-widget-content-input">
                                 <form action="index.html">
                                    <input type="email" placeholder="Tu correo">
                                    <button class="tp-icon-style">
                                       <span>
                                          <svg class="qodef-svg--custom-arrow qodef-m-arrow"
                                             xmlns="http://www.w3.org/2000/svg" width="14.2" height="14.2"
                                             viewBox="0 0 14.2 14.2">
                                             <g>
                                                <path d="M13.2 9V1h-8M13.4.8.7 13.5"></path>
                                                <path d="M13.2 9V1h-8M13.4.8.7 13.5"></path>
                                             </g>
                                             <g>
                                                <path d="M13.2 9V1h-8M13.4.8.7 13.5"></path>
                                                <path d="M13.2 9V1h-8M13.4.8.7 13.5"></path>
                                             </g>
                                          </svg>
                                       </span>
                                    </button>
                                 </form>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="tp-footer-copyright">
               <div class="row">
                  <div class="col-md-7 col-12">
                     <div class="tp-footer-copyright-inner">
                        <p>© 2025 BMP Company S.A.S. - Todos los derechos reservados</p>
                     </div>
                  </div>
                  <div class="col-md-5 col-12">
                     <div class="tp-footer-copyright-inner text-md-end">
                        <a href="index.html#">Política de Privacidad</a>
                        <div class="dvd">/</div>
                        <a href="index.html#">Términos de Uso</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </footer>
   <!-- footer area end -->