<!-- header area start -->
<header class="tp-header-area p-relative">
    <div class="tp-header-top d-none d-xl-block fix">
        <div class="container container-large">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="tp-header-top-info">
                        <a href="https://www.google.com/maps" target="_blank"><span><i
                                    class="fa-sharp fa-solid fa-location-dot"></i></span>Colombia</a>
                        <a href="mailto:needhelp@company.com"><span><i
                                    class="fa-solid fa-envelope"></i></span>info@bmpglobalcorp.com</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="tp-header-top-right d-flex justify-content-end">
                        <div class="tp-header-top-right-color d-flex align-items-center">
                            <p>Síguenos:</p>
                            <div class="tp-header-top-social">
                                <a href="index.html#"><i class="fa-brands fa-facebook-f"></i></a>
                                <a href="index.html#"><i class="fa-brands fa-instagram"></i></a>
                                <a href="index.html#"><i class="fa-brands fa-tiktok"></i></a>
                                <a href="index.html#"><i class="fa-brands fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tp-header-main-sticky tp-header-main p-relative">
        <div class="container container-large">
            <div class="row align-items-center">
                <div class="col-lg-2 col-md-3 col-6">
                    <div class="tp-header-logo">
                        <a href="index.html">
                            <img src="assets/img/logo/logo.png" alt="" style="width: 100px; margin-left: 60px;">
                        </a>
                    </div>
                </div>
                <div class="col-lg-7 d-none d-lg-block">
                    <div class="tp-header-main-menu">
                        <div class="tp-main-menu d-none d-xl-block">
                            <nav class="tp-main-menu-content">
                                <ul>
                                    <li class="has-dropdown">
                                        <a routerLink="/home">{{ 'MENU.HOME' | translate }}</a>

                                    </li>
                                    <li class="has-dropdown">
                                        <a routerLink="/about">{{ 'MENU.ABOUT' | translate }}</a>

                                    </li>
                                    <li class="has-dropdown">
                                        <a routerLink="/services">{{ 'MENU.SERVICES' | translate }}</a>
                                        <ul class="submenu">
                                            <li><a routerLink="/services">Servicio</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-dropdown">
                                        <a routerLink="/portfolio">{{ 'MENU.PORTFOLIO' | translate }}</a>
                                        
                                    </li>
                                    <li class="has-dropdown">
                                        <a routerLink="/blog">{{ 'MENU.BLOG' | translate }}</a>

                                    </li>
                                    <li><a routerLink="/contact">{{ 'MENU.CONTACT' | translate }}</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-9 col-6">
                    <div class="tp-header-lang-selector desktop-only d-none d-lg-block" style="margin-right: 15px;">
                        <div class="tp-header-contact d-xl-flex align-items-center">

                            <div class="lang-dropdown" [class.open]="isLangOpen">
                                <button type="button" (click)="toggleLang($event)">
                                    <img [src]="currentFlag" alt="lang"
                                        style="width: 20px; height: 14px; margin-right: 6px; border-radius: 2px;">
                                    <span>{{ currentLang.toUpperCase() }}</span>
                                    <i class="fa-solid fa-chevron-down" style="margin-left: 6px; font-size: 10px;"></i>
                                </button>

                                <div class="lang-options">
                                    <a class="lang-option" href="javascript:void(0)" (click)="changeLang('es')">
                                        <img src="https://flagcdn.com/w20/co.png" alt="ES"
                                            style="width: 20px; height: 14px; margin-right: 10px; border-radius: 2px;">
                                        <span>Español</span>
                                    </a>

                                    <a class="lang-option" href="javascript:void(0)" (click)="changeLang('en')">
                                        <img src="https://flagcdn.com/w20/us.png" alt="EN"
                                            style="width: 20px; height: 14px; margin-right: 10px; border-radius: 2px;">
                                        <span>English</span>
                                    </a>
                                </div>
                            </div>
                            <div class="tp-header-contact-icon d-none d-xxl-block">
                                <button type="button" class="icon-btn" (click)="openSearch()">
                                    <i class="fa-sharp fa-regular fa-magnifying-glass"></i>
                                </button>
                            </div>

                            <div class="tp-header-contact-icon d-none d-xxl-block">
                                <button type="button" class="icon-btn" [routerLink]="['/admin/login']">
                                    <i class="fa-sharp fa-light fa-user"></i>
                                </button>
                            </div>

                            <div class="tp-header-btn d-none d-xl-block">
                                <a class="tp-btn tp-icon-style" routerLink="/contact">
                                    Cotizar
                                    <span>
                                        <svg class="qodef-svg--custom-arrow qodef-m-arrow"
                                            xmlns="http://www.w3.org/2000/svg" width="14.2" height="14.2"
                                            viewBox="0 0 14.2 14.2">
                                            <g>
                                                <path d="M13.2 9V1h-8M13.4.8.7 13.5"></path>
                                                <path d="M13.2 9V1h-8M13.4.8.7 13.5"></path>
                                            </g>
                                        </svg>
                                    </span>
                                </a>
                            </div>

                            <div class="tp-header-hamburger d-xl-none">
                                <button type="button" class="hamburger-btn" (click)="openOffcanvas()">
                                    <span></span>
                                    <span></span>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<header class="tp-header-area p-relative tp-int-menu tp-header-sticky-cloned">
    <div class="tp-header-main-sticky tp-header-main p-relative">
        <div class="container container-large">
            <div class="row align-items-center">
                <div class="col-lg-2 col-md-3 col-6">
                    <div class="tp-header-logo">
                        <a href="index.html">
                            <img src="assets/img/logo/logo.png" alt="" style="width: 100px; margin-left: 60px;">
                        </a>
                    </div>
                </div>
                <div class="col-lg-7 d-none d-lg-block">
                    <div class="tp-header-main-menu">
                        <div class="tp-main-menu d-none d-xl-block">
                            <nav class="tp-main-menu-content">
                                <ul>
                                    <li class="has-dropdown">
                                        <a routerLink="home">{{ 'MENU.HOME' | translate }}</a>

                                    </li>
                                    <li class="has-dropdown">
                                        <a routerLink="about">{{ 'MENU.ABOUT' | translate }}</a>

                                    </li>
                                    <li class="has-dropdown">
                                        <a routerLink="service">{{ 'MENU.SERVICES' | translate }}</a>
                                        <ul class="submenu">
                                            <li><a routerLink="service">Servicio</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-dropdown">
                                        <a routerLink="portfolio">{{ 'MENU.PORTFOLIO' | translate }}</a>
                                       
                                    </li>

                                    <li class="has-dropdown">
                                        <a routerLink="blog">{{ 'MENU.BLOG' | translate }}</a>

                                    </li>
                                    <li><a>{{ 'MENU.CONTACT' | translate }}</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-9 col-6">
                    <div class="tp-header-lang-selector desktop-only d-none d-lg-block" style="margin-right: 15px;">
                        <div class="tp-header-contact d-xl-flex align-items-center">

                            <div class="lang-dropdown" [class.open]="isLangOpen">
                                <button type="button" (click)="toggleLang($event)">
                                    <img [src]="currentFlag" alt="lang"
                                        style="width: 20px; height: 14px; margin-right: 6px; border-radius: 2px;">
                                    <span>{{ currentLang.toUpperCase() }}</span>
                                    <i class="fa-solid fa-chevron-down" style="margin-left: 6px; font-size: 10px;"></i>
                                </button>

                                <div class="lang-options">
                                    <a class="lang-option" href="javascript:void(0)" (click)="changeLang('es')">
                                        <img src="https://flagcdn.com/w20/co.png" alt="ES"
                                            style="width: 20px; height: 14px; margin-right: 10px; border-radius: 2px;">
                                        <span>Español</span>
                                    </a>

                                    <a class="lang-option" href="javascript:void(0)" (click)="changeLang('en')">
                                        <img src="https://flagcdn.com/w20/us.png" alt="EN"
                                            style="width: 20px; height: 14px; margin-right: 10px; border-radius: 2px;">
                                        <span>English</span>
                                    </a>
                                </div>
                            </div>
                            <div class="tp-header-contact-icon d-none d-xxl-block">
                                <button type="button" class="icon-btn" (click)="openSearch()">
                                    <i class="fa-sharp fa-regular fa-magnifying-glass"></i>
                                </button>
                            </div>

                            <div class="tp-header-contact-icon d-none d-xxl-block">
                                <button type="button" class="icon-btn" [routerLink]="['/admin/dashboard']">
                                    <i class="fa-sharp fa-light fa-user"></i>
                                </button>
                            </div>
                            <div class="tp-header-btn d-none d-xl-block">
                                <a class="tp-btn tp-icon-style" routerLink="/contact">
                                    Cotizar
                                    <span>
                                        <svg class="qodef-svg--custom-arrow qodef-m-arrow"
                                            xmlns="http://www.w3.org/2000/svg" width="14.2" height="14.2"
                                            viewBox="0 0 14.2 14.2">
                                            <g>
                                                <path d="M13.2 9V1h-8M13.4.8.7 13.5"></path>
                                                <path d="M13.2 9V1h-8M13.4.8.7 13.5"></path>
                                            </g>
                                        </svg>
                                    </span>
                                </a>
                            </div>

                            <div class="tp-header-hamburger d-xl-none">
                                <button type="button" class="hamburger-btn" (click)="openOffcanvas()">
                                    <span></span>
                                    <span></span>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>