<main>
    <!-- hero area start -->
    <div id="showcase-slider-wrappper" class="showcase-slider-wrappper">

        <div class="port-showcase-slider-spaces p-relative">
            <div class="port-showcase-slider-wrap tp-slider-parallax fix" id="showcase-slider-holder"
                data-pattern-img="assets/img/webgl/1.jpg">
                <div class="swiper-container parallax-slider-active p-relative" id="showcase-slider">
                    <div class="swiper-wrapper" id="trigger-slides">
                        <div class="tp-line-wrapper d-none d-md-block">
                            <div class="tp-line-item"></div>
                        </div>
                        <div class="tp-hero-bg"></div>

                        <div class="swiper-slide">
                            <div class="slide-wrap active overlay" data-slide="0"></div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="tp-hero-content p-relative">
                                            <div class="tp-hero-title-wrapper">
                                                <div class="tp-hero-title-pre">
                                                    <div>
                                                        <span>{{ 'HOME.HERO.PRE_TITLE' | translate }}</span>
                                                    </div>
                                                </div>
                                                <div class="tp-hero-title">
                                                    <div><span>  {{ 'HOME.HERO.TITLE' | translate }}</span></div>
                                                </div>
                                            </div>

                                            <div class="tp-hero-btn-wrap p-relative fix">
                                                <div class="tp-hero-button-wrapper d-flex flex-wrap align-items-center">
                                                    <div class="tp-hero-btn">
                                                        <a class="tp-btn tp-icon-style" [routerLink]="['/portfolio']">
                                                            {{ 'HOME.HERO.VIEW_PROJECTS' | translate }} 
                                                            <span>
                                                                <svg class="qodef-svg--custom-arrow qodef-m-arrow"
                                                                    xmlns="http://www.w3.org/2000/svg" width="14.2"
                                                                    height="14.2" viewBox="0 0 14.2 14.2">
                                                                    <g>
                                                                        <path d="M13.2 9V1h-8M13.4.8.7 13.5"></path>
                                                                        <path d="M13.2 9V1h-8M13.4.8.7 13.5"></path>
                                                                    </g>
                                                                    <g>
                                                                        <path d="M13.2 9V1h-8M13.4.8.7 13.5"></path>
                                                                        <path d="M13.2 9V1h-8M13.4.8.7 13.5"></path>
                                                                    </g>
                                                                </svg>
                                                            </span>
                                                        </a>
                                                    </div>

                                                    <div class="tp-hero-btn style-2">
                                                        <a class="tp-btn tp-icon-style" routerLink="/contact">
                                                            {{ 'HOME.HERO.CONTACT' | translate }} 
                                                            <span>
                                                                <svg class="qodef-svg--custom-arrow qodef-m-arrow"
                                                                    xmlns="http://www.w3.org/2000/svg" width="14.2"
                                                                    height="14.2" viewBox="0 0 14.2 14.2">
                                                                    <g>
                                                                        <path d="M13.2 9V1h-8M13.4.8.7 13.5"></path>
                                                                        <path d="M13.2 9V1h-8M13.4.8.7 13.5"></path>
                                                                    </g>
                                                                    <g>
                                                                        <path d="M13.2 9V1h-8M13.4.8.7 13.5"></path>
                                                                        <path d="M13.2 9V1h-8M13.4.8.7 13.5"></path>
                                                                    </g>
                                                                </svg>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tp-slider-dot d-md-none"></div>

                    <!-- <div class="tp-showcase-arrow-box">
                    <button type="button" class="hero-3-prev"><i class="fa-regular fa-arrow-left"></i></button>
                    <button type="button" class="hero-3-next"><i class="fa-regular fa-arrow-right"></i></button>
                </div> -->
                </div>
            </div>
        </div>

    </div>
    <!-- hero area end -->
    <!-- about area start -->
    <section class="tp-about-area p-relative fix pt-120 pb-120">
        <div class="tp-about-shape">
            <img src="assets/img/about/about-1-5.png" alt="">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="bmp-about-image-card">
                        <img src="assets/img/about/about-1-1.jpg" alt="BMP Company ingeniería">

                        <div class="bmp-about-badge">
                            <strong>20+</strong>
                            <span>Años de experiencia</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="tp-about-wrapper p-relative wow fadeInRight" data-wow-duration="1s"
                        data-wow-delay=".3s">
                        <div class="tp-about-title-wrapper">
                            <span class="tp-section-title-pre">QUIÉNES SOMOS</span>
                            <h3 class="tp-section-title">BMP <br> COMPANY</h3>
                            <p style="color: black;">Somos una empresa de ingeniería que acompaña a nuestros clientes
                                desde la planeación hasta la ejecución, integrando soluciones
                                tecnológicas, infraestructura y consultoría para lograr resultados
                                eficientes y sostenibles.</p>
                        </div>
                        <div class="tp-about-icon-box d-flex">
                            <div class="tp-about-icon-content d-flex">
                                <div class="tp-about-icon">
                                    <span>
                                        <i class="flaticon-quality"></i>
                                    </span>
                                </div>
                                <h5>Estándares de <br> alta calidad</h5>
                            </div>
                            <div class="tp-about-icon-content d-flex">
                                <div class="tp-about-icon">
                                    <span>
                                        <i class="flaticon-worker"></i>
                                    </span>
                                </div>
                                <h5>Certificados <br> ISO 9001 </h5>
                            </div>
                        </div>
                        <div class="tp-about-list">
                            <ul>
                                <li><i class="fa-regular fa-check"></i> 100% Satisfacción</li>
                                <li><i class="fa-regular fa-check"></i> Programas Anuales</li>
                                <li><i class="fa-regular fa-check"></i> Empleados capacitados</li>
                                <li><i class="fa-regular fa-check"></i> Flexible y rentable</li>
                            </ul>
                        </div>
                        <div class="tp-about-btn">
                            <a class="tp-btn tp-icon-style" routerLink="/about">Descubrir Más <span> <svg
                                        class="qodef-svg--custom-arrow qodef-m-arrow" xmlns="http://www.w3.org/2000/svg"
                                        width="14.2" height="14.2" viewBox="0 0 14.2 14.2">
                                        <g>
                                            <path d="M13.2 9V1h-8M13.4.8.7 13.5"></path>
                                            <path d="M13.2 9V1h-8M13.4.8.7 13.5"></path>
                                        </g>
                                        <g>
                                            <path d="M13.2 9V1h-8M13.4.8.7 13.5"></path>
                                            <path d="M13.2 9V1h-8M13.4.8.7 13.5"></path>
                                        </g>
                                    </svg></span></a>
                            <img src="assets/img/about/about-1-signature.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about area end -->

    <!-- services area start -->
    <section class="bmp-services-section">
        <div class="container">

            <div class="bmp-services-header">
                <div>
                    <span class="tp-section-title-pre">LO QUE OFRECEMOS</span>
                    <h3 class="tp-section-title">
                        Soluciones integrales para proyectos de ingeniería
                    </h3>
                </div>

                <p>
                    Acompañamos a nuestros clientes con servicios especializados en diseño,
                    instalación, integración, automatización e infraestructura técnica.
                </p>
            </div>

            <div class="bmp-services-grid">

                <article class="bmp-service-card" *ngFor="let service of realtimeServicesService.services$ | async">

                    <a routerLink="/services" class="bmp-service-image">
                        <img *ngIf="getCoverUrl(service) as coverUrl; else defaultCover" [src]="coverUrl"
                            [alt]="service.name">

                        <ng-template #defaultCover>
                            <img src="assets/img/offer/offer-1-1.jpg" [alt]="service.name || 'Servicio'">
                        </ng-template>
                    </a>

                    <div class="bmp-service-content">
                        <div class="bmp-service-icon">
                            <i class="flaticon-blueprint"></i>
                        </div>

                        <h4>
                            <a routerLink="/services">
                                {{ service.name }}
                            </a>
                        </h4>

                        <p>
                            {{ service.description }}
                        </p>

                        <a routerLink="/services" class="bmp-service-link">
                            Solicitar servicio
                            <i class="fa-regular fa-arrow-right"></i>
                        </a>
                    </div>

                </article>

            </div>

        </div>
    </section>
    <!-- services area end -->

    <!-- portfolio area start -->
    <section class="bmp-home-portfolio">
        <div class="container">

            <div class="bmp-home-portfolio-header">
                <span class="tp-section-title-pre">PROYECTOS DESTACADOS</span>
                <h3 class="tp-section-title">
                    Estructuras increíbles <br>
                    construidas por nosotros.
                </h3>
                <p>
                    Conoce algunos de los proyectos donde aplicamos ingeniería, precisión técnica
                    y soluciones integrales para nuestros clientes.
                </p>
            </div>

            <div class="bmp-featured-projects">

                <article class="bmp-featured-card" *ngFor="let item of portfolioList | slice:0:6">

                    <a [routerLink]="['/portfolio', item.id]" class="bmp-featured-image">
                        <img *ngIf="getPortfolioCoverUrl(item) as coverUrl; else defaultPortfolioCover" [src]="coverUrl"
                            [alt]="item.name">

                        <ng-template #defaultPortfolioCover>
                            <img src="assets/img/portfolio/portfolio-1-1.jpg" [alt]="item.name || 'Proyecto'">
                        </ng-template>

                        <div class="bmp-featured-overlay"></div>
                    </a>

                    <div class="bmp-featured-content">
                        <span>{{ item.category || item.type }}</span>

                        <h4>
                            <a [routerLink]="['/portfolio', item.id]">
                                {{ item.name }}
                            </a>
                        </h4>

                        <a [routerLink]="['/portfolio', item.id]" class="bmp-featured-btn">
                            Ver proyecto
                            <i class="fa-light fa-arrow-right"></i>
                        </a>
                    </div>

                </article>

            </div>

        </div>
    </section>
    <!-- portfolio area end -->

    <!-- propuesta de valor area start -->
    <section class="tp-video-area p-relative pt-120 pb-100">
        <div class="tp-video-shape">
            <img src="assets/img/video/video-1-shape.png" alt="">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="tp-video-thumb wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">
                        <img src="assets/img/video/video-1-1.png" alt="">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="tp-video-wrapper wow fadeInRight" data-wow-duration="1s" data-wow-delay=".3s">
                        <div class="tp-video-title-wrapper mb-55">
                            <span class="tp-section-title-pre">PROPUESTA DE VALOR</span>
                            <h3 class="tp-section-title">Construimos todo lo que <br> necesitas primero</h3>
                        </div>
                        <div class="tp-video-box d-flex justify-content-between">
                            <div class="tp-video-list">
                                <ul>
                                    <li><i class="fa-solid fa-check"></i> Experiencia comprobada</li>
                                    <li><i class="fa-solid fa-check"></i> Soluciones a la medida</li>
                                    <li><i class="fa-solid fa-check"></i> Ejecución integral</li>
                                    <li><i class="fa-solid fa-check"></i> Enfoque en calidad y eficiencia</li>
                                    <li><i class="fa-solid fa-check"></i> Presencia internacional</li>
                                    <li><i class="fa-solid fa-check"></i> Flexible y rentable</li>
                                    <li><i class="fa-solid fa-check"></i> Soluciones de emergencia</li>
                                </ul>
                            </div>

                        </div>
                        <div class="tp-video-icon-box d-flex justify-content-between">
                            <div class="tp-video-icon-content d-flex">
                                <span><i class="flaticon-help"></i></span>
                                <h4 class="tp-video-title">Siempre brindamos <br> servicio de alta calidad</h4>
                            </div>
                            <div class="tp-video-icon-content d-flex">
                                <span><i class="flaticon-blueprint-1"></i></span>
                                <h4 class="tp-video-title">Primera prioridad <br> es diseñar tu hogar</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- propuesta de valor area end -->

    <!-- testimonial area start -->
    <section class="bmp-testimonials-section">
        <div class="container">

            <div class="bmp-testimonials-header">
                <span class="tp-section-title-pre">TESTIMONIOS</span>
                <h3 class="tp-section-title">Lo que dicen nuestros clientes</h3>
                <p>
                    La confianza de nuestros clientes respalda la calidad, cumplimiento y precisión
                    con la que desarrollamos cada proyecto.
                </p>
            </div>

            <div class="bmp-testimonials-grid">

                <article class="bmp-testimonial-card" *ngFor="let testimonial of publishedTestimonials">

                    <div class="bmp-testimonial-quote">
                        <i class="fa-solid fa-quote-left"></i>
                    </div>

                    <div class="bmp-testimonial-rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>

                    <p class="bmp-testimonial-message">
                        {{ testimonial.message }}
                    </p>

                    <div class="bmp-testimonial-user">
                        <div class="bmp-testimonial-avatar">
                            <img [src]="testimonial.avatar || 'assets/img/testimonial/default-avatar.jpg'"
                                [alt]="testimonial.name || 'Cliente BMP'">
                        </div>

                        <div>
                            <h5>{{ testimonial.name }}</h5>
                            <span>{{ testimonial.role }}</span>
                        </div>
                    </div>

                </article>

            </div>

        </div>
    </section>
    <!-- testimonial area end -->

    <!-- text slider area start -->
    <!-- <section class="tp-text-area pt-25 pb-90">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="tp-text-sliding">
                        <div class="tp-text-scroll-hr">
                            <div class="tp-text-scroll-wrap">
                                <h2 class="tp-text-title">BMP COMPANY S.A.S. SOLUCIONES DE INGENIERÍA Y TECNOLOGÍA
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </section> -->
    <!-- text slider area end -->

    <!-- contact area start -->
    <section class="tp-contact-area p-relative fix pt-190 pb-200">
        <div class="tp-contact-bg" data-background="assets/img/contact/contact-1-bg.jpg"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="tp-contact-title-wrapper p-relative wow fadeInLeft" data-wow-duration="1s"
                        data-wow-delay=".3s">
                        <span class="tp-section-title-pre">CONTÁCTANOS</span>
                        <h3 class="tp-section-title">¿Tienes un proyecto en mente?</h3>

                        <div class="tp-contact-btn-box">
                            <a class="tp-btn tp-icon-style" routerLink="/contact">Contáctanos <span><svg
                                        class="qodef-svg--custom-arrow qodef-m-arrow" xmlns="http://www.w3.org/2000/svg"
                                        width="14.2" height="14.2" viewBox="0 0 14.2 14.2">
                                        <g>
                                            <path d="M13.2 9V1h-8M13.4.8.7 13.5"></path>
                                            <path d="M13.2 9V1h-8M13.4.8.7 13.5"></path>
                                        </g>
                                        <g>
                                            <path d="M13.2 9V1h-8M13.4.8.7 13.5"></path>
                                            <path d="M13.2 9V1h-8M13.4.8.7 13.5"></path>
                                        </g>
                                    </svg></span></a>
                            <a class="tp-btn tp-icon-style white" routerLink="/contact">“Solicitar cotización <span><svg
                                        class="qodef-svg--custom-arrow qodef-m-arrow" xmlns="http://www.w3.org/2000/svg"
                                        width="14.2" height="14.2" viewBox="0 0 14.2 14.2">
                                        <g>
                                            <path d="M13.2 9V1h-8M13.4.8.7 13.5"></path>
                                            <path d="M13.2 9V1h-8M13.4.8.7 13.5"></path>
                                        </g>
                                        <g>
                                            <path d="M13.2 9V1h-8M13.4.8.7 13.5"></path>
                                            <path d="M13.2 9V1h-8M13.4.8.7 13.5"></path>
                                        </g>
                                    </svg></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="tp-contact-thumb">
                        <img class="shape-main" src="assets/img/contact/contact-1-1.png" alt="">
                        <img class="shape-1" src="assets/img/contact/contact-1-shape1.png" alt="">
                        <img class="shape-2" src="assets/img/contact/contact-1-shape2.png" alt="">
                        <img class="shape-3" src="assets/img/contact/contact-1-shape3.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- contact area end -->

    <!-- blog area start -->
    <section class="tp-blog-area p-relative gray-bg pt-120 pb-90">
        <div class="tp-blog-shape">
            <img src="assets/img/blog/blog-1-shapa.png" alt="">
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="tp-blog-title-wrapper text-center mb-65">
                        <span class="tp-section-title-pre">Nuestro BLOG</span>
                        <h3 class="tp-section-title">Leer nuestro blog & post</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6" *ngFor="let item of blogList | slice:0:3; let i = index">
                    <div class="tp-blog-item mb-30 wow fadeInUp" data-wow-duration="1s"
                        [attr.data-wow-delay]="i === 0 ? '.3s' : i === 1 ? '.5s' : '.7s'">

                        <div class="tp-blog-thumb">
                            <a routerLink="/blog">
                                <img *ngIf="getBlogCoverUrl(item) as coverUrl; else defaultBlogCover" [src]="coverUrl"
                                    [alt]="item.title || 'Blog'">

                                <ng-template #defaultBlogCover>
                                    <img src="assets/img/blog/blog-1-1.jpg" [alt]="item.title || 'Blog'">
                                </ng-template>
                            </a>
                        </div>

                        <div class="tp-blog-content">
                            <div class="tp-blog-content-info">
                                <span>{{ item.category || 'Blog' }}</span>
                                <span>{{ formatBlogDate(item.created) }}</span>
                            </div>

                            <h4 class="tp-blog-title">
                                <a routerLink="/blog">
                                    {{ item.title }}
                                </a>
                            </h4>

                            <div class="tp-blog-btn">
                                <a class="tp-btn tp-icon-style" routerLink="/blog">
                                    Leer más
                                    <span>
                                        <svg class="qodef-svg--custom-arrow qodef-m-arrow"
                                            xmlns="http://www.w3.org/2000/svg" width="14.2" height="14.2"
                                            viewBox="0 0 14.2 14.2">
                                            <g>
                                                <path d="M13.2 9V1h-8M13.4.8.7 13.5"></path>
                                                <path d="M13.2 9V1h-8M13.4.8.7 13.5"></path>
                                            </g>
                                            <g>
                                                <path d="M13.2 9V1h-8M13.4.8.7 13.5"></path>
                                                <path d="M13.2 9V1h-8M13.4.8.7 13.5"></path>
                                            </g>
                                        </svg>
                                    </span>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- blog area end -->


</main>